$background: #fff;
$foreground: #444;

/* switch
$background: #1a1a1a;
$foreground: #fff;
*/

$font-size-base: 14px;
$font-size-sm: 10px;

$padding: 20px;
$padding-lg: 3*$padding;

$breakpoint-xs-max: 768px;
$breakpoint-sm-min: 769px;
$breakpoint-sm-max: 991px;
$breakpoint-md-min: 992px;
$breakpoint-md-max: 1199px;
$breakpoint-lg-min: 1200px;